<footer class="footer">
    <div>
        <p>
            <a href="/about">website အကြောင်း</a> &middot;
            <a href="https://github.com/twnaing/covid19-my.info">Github</a>
        </p>
    {% if meta.email %}
        <p><a href="mailto:{{ meta.email }}">{{ meta.email }}</a></p>
    {% endif %}
    {% if meta.telephone %}
        <p><a href="tel:{{ meta.telephone }}">{{ meta.telephone }}</a></p>
    {% endif %}
    </div>
    <div>
        <p>Last Update: {{ build.timestamp | dateToFormat("dd LLLL yyyy, t") }}</p>
    </div>
</footer>
