<div id="notifications" class="active" role="status" aria-live="polite" aria-atomic="true">
<div class="prompt">
<p style="text-align: center">COVID-19 ကူးစက်ခံရသည် (သို့) ကူးစက်ခံရသည့်သူကို တွေ့ရှိသည်ဟု သံသယရှိပါက <a href="tel:0673420802">ဆက်သွယ်ရန်</a> / <a href="/static/COVID-19_Hotline.vcf" title="မှတ်ထားမည်">
မှတ်ထားရန်</a></p>
</div>
</div>
