.footer a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

}

.main a:visited {
  color: var(--secondary-color);
}

.main a:hover {
  color: var(--brand-color);
}

.stats { padding: 0 var(--spacing); border-bottom: 1px solid var(--brand-color); font-size: 0.8em}
.stat  { margin-right: var(--spacing); }
.stat.warning { color: #ffc107 }
.stat.danger  { color: #dc3545 }
.stat.success { color: #28a745 }
